.split-wise-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.container {
    display: flex;
    width: 98%;
    height: 650px;
    margin: auto;
    background-image: linear-gradient(to right, #6b40a3c9, #d79a64);
    border-radius: 10px;

    .header {
        padding: 40px 0;
        display: flex;
        flex-direction: row;
    }

    // ------------user-Id-----------------

    .user-section {
        display: flex;
        justify-content: center;
        width: 250px;
        border-radius: 20px;

        .user-profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            width: 100px;
            height: 100px;

            .user-image {
                width: 100%;
                height: 90%;
                border-radius: 50%;
                padding: 15px 0;
            }

            .userInfo-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    font-size: 18px;
                    margin: 0;
                }

                .user-name {
                    font-size: 23px;
                    font-weight: 600;
                    background: linear-gradient(
                        to right,
                        #121fcf 0%,
                        #cf1512 100%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .user-email {
                    color: #ffffff;
                    font-size: 16px;
                    margin-top: 3px;
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}
// -----------Back-Button------------
.BackButton {
    background: transparent;
    border: none;
    border-radius: 30px;
    width: 40px;
    height: 30px;
    .back-image {
        width: 100%;
        height: 100%;
    }
}

.back-button {
    position: absolute;
    top: 0;
    left: 0;
}

/* Add Expense */

.card-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #6b40a3c9, #d79a64);
    border-radius: 10px;
    .card {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .card-field {
            margin-bottom: 15px;

            .card-label {
                font-weight: 500;
            }
        }
    }

    .label {
        width: 300px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-weight: 500;
    }

    .select-paid-by {
        width: 90px;
        margin-left: 8px;
        padding: 6px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .save-button {
        display: flex;
        justify-content: center;
        .button {
            background-color: #4caf50;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;

            &:hover {
                background-color: #45a049;
            }
        }
    }

    .text-input {
        width: 95%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

// -----------------expense button---------------

.expense-wrapper {
    float: right;

    .expense-button {
        padding: 15px 20px;
        font-size: 18px;
        color: white;
        background-color: #b894e7;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
        letter-spacing: 0.5px;

        &:hover {
            background-color: #6245a0;
            letter-spacing: 3px;
        }

        .fa-solid.fa-person-running {
            margin-left: 5px;
        }
    }
}

// ------------------group-data------------

.new-expense {
    width: 975px;
    .group-data {
        height: 530px;
        max-width: calc(100% - 20px);
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 8px;
        margin: 40px 0 0 30px;

        .group-info-wrapper {
            .group-information {
                width: 100%;
                height: 90%;
                border-radius: 50%;

                h2,
                h3 {
                    margin: 0;
                    background: linear-gradient(
                        to right,
                        #121fcf 0%,
                        #cf1512 100%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .description-wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: row;

                    .description {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        width: 200px;
                        height: 50px;
                        background-color: #0095ff0f;
                        margin: 10px;
                        border-radius: 30px;
                    }
                    p {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                .amount-wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    .amount {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        font-weight: 500;
                        width: 150px;
                        height: 65px;
                        background-color: #ff650030;
                        margin: 10px;
                        border-radius: 30px;
                    }
                }
            }
        }
    }
}

// -------------split-up-button-----------

.split-up {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin: 3px;

    &:hover {
        background-color: #45a049;
    }
}

.group-list-data {
    ul,
    li {
        font-size: 18px;
        text-decoration: none;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
        background: #b0828f;
        margin-bottom: 10px;
        border-radius: 10px;
        align-items: center;
    }
}
