.dashboard-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #fbc2eb, #a18cd1);
        z-index: -1;

        .lending {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            .card {
                padding: 30px;
                background-color: #ffffff;
                border-radius: 10px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
                text-align: center;
                transform: translateY(50%);
                transition: transform 0.3s ease;

                & h1 {
                    font-size: 24px;
                    margin-bottom: 10px;
                    color: #a18cd1;
                }
            }
        }
    }

    .button-wrapper {
        margin-top: 300px;
        align-items: center;

        .start-button {
            padding: 10px 20px;
            font-size: 18px;
            color: white;
            background-color: #4caf50;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #6245a0;
            }

            .fa-solid.fa-person-running {
                margin-left: 5px;
            }
        }
    }
}
